body {
    margin: 0;
    padding: 0;
    height: 100px;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.container main {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}